:root {
  --clr-golden: #c9a718;
  --clr-green: #3d8447;
}

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(255,226,158);
  background: radial-gradient(rgba(226,186,93,1), white);
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  text-align: center;
  color: black;
}

.main {
  width: 100%;
  padding-top: 20%;
}

h1 {
  font-size: 2rem;
}