:root {
  --clr-golden: #c9a718;
  --clr-green: #3d8447;
}

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(255,226,158);
  height: 100%;
  width: 100%;
  font-size: 16px;
  text-align: center;
  color: black;
  font-family: sans-serif;
}

@media screen and (max-width: 800px) {
  div.main h1 {
    font-size: 3rem;
    line-height: 1;
    padding-top: 50%;

  }


}

.main {
  width: 100%;
  padding: 5%;
  padding-top: 20%;
  height: 100%;
}

h1 {
  font-size: 2rem;
}