.about-me, .about-me h1 {
width: min(100%, 500px);
font-family: 'Syne', sans-serif;
color: var(--clr-green);
display: inline-block;
}

.portrait {
    display: inline-block;
    width: 30%;
    margin: 2% 5%;
}

.portfolio-gallery{
    width: 100%;
    margin: 0;
}

.portfolio-gallery h1{
    font-size: 2rem;
}

.proj-card {
    width: min(80%, 430px);
    height: 250px;
    cursor: pointer;
    display:inline-block;
    margin: 10px;
    position: relative;
}
.proj-card h1 {
    margin: 5px 0;
    color: black;
    font-size: 1.5rem;
}

.proj-card p {
    margin: 0;
    font-size: 12px;
    font-style: italic;
}

.proj-card-name {
    position: absolute;
    bottom:0;
    padding: 3% 6%;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    color: black;
    background: rgba(255, 255, 255, 0.8);
}

.proj-card-name:hover {
    opacity: 1;
}

.proj-thumbnail {
    position: absolute;
    width: 100%;
    height: 250px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -999;
}
